<!DOCTYPE html>
<html lang="ja">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body class="ease-in">
    {{ partial "header.html" . }}
    <main class="l-container">
      <div class="headline">
        <h1 class="headline-heading">{{ .Title }}</h1>
        <div class="metas metas-border">
          {{ if eq .Slug "about" }}
            <span class="metas-item">About</span>
          {{ else }}
            <time datetime="{{ .Date.Format "2006-01-02" }}" class="metas-item">{{ .Date.Format "2006.01.02" }}</time>
            {{ with .Params.categories }}
              <span class="metas-item">{{ . }}</span>
            {{ else }}
              <span class="metas-item">{{ .Params.tags }}</span>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="l-partition post">
        {{ if .Params.work_url }}
          <div class="l-partition-sub">
            <p class="work-description">{{ .Params.work_description }}</p>
              <dl class="work-url">
                <dt>URL</dt>
                <dd>
                  <a href="{{ .Params.work_url }}">{{ .Params.work_url }}</a>
                </dd>
              </dl>
          </div>
        {{ else if .Params.work_description }}
          <div class="l-partition-sub">
            <p class="work-description">{{ .Params.work_description }}</p>
          </div>
        {{ end }}
        {{ .Content }}
      </div>

      <div class="footline">
        {{ partial "single-pagination.html" . }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
