{{ $pag := $.Paginator }}
<ul class="pagination">
    <li class="pagination-prev{{ if not $pag.HasPrev }} disabled{{ end }}">
      <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">
        <span aria-hidden="true">
          <i class="icon ico-arrow-prev pagination-prev-icon"></i>Prev
        </span>
      </a>
    </li>
    {{ range $pag.Pagers }}
      {{ if eq . $pag }}
        <li>
          <span>{{ .PageNumber }} / {{ .TotalPages }} </span>
        </li>
      {{ end }}
    {{ end }}
    <li class="pagination-next{{ if not $pag.HasNext }} disabled{{ end }}">
      <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">
        <span aria-hidden="true">
          Next<i class="icon ico-arrow-next pagination-next-icon"></i>
        </span>
      </a>
    </li>
</ul>
