<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{ if eq .Url "/" }}
  <title>{{ .Site.Title }}</title>
{{ else if eq .Url "/blog/" }}
  <title>Blog - {{ .Site.Title }}</title>
{{ else if eq .Url "/work/" }}
  <title>Work - {{ .Site.Title }}</title>
{{ else if eq .Slug "about" }}
  <title>About - {{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ with .Description }}
  <meta name="description" content="{{ . }}">
{{ else }}
  <meta name="description" content="thleap.net は、自身の職をWebデザイナーと嘯く竹本大樹の活動を記録・公開する場です。">
{{ end }}

<meta name="keywords" content="web, design, illustration, development">
<link rel="shortcut icon" href="/favicon.ico">
<link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/app.css">
