<!DOCTYPE html>
<html lang="ja">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body class="ease-in">
    {{ partial "header.html" . }}
    <main class="l-container">
      <div class="headline">
        <strong class="headline-slogan">think deeply & leap lightly !</strong>
        <span class="headline-lead">つむぐコトバ、つなぐデザイン</span>
      </div>
      <h1 class="heading">Blog</h1>
      <ul class="posts">
        {{ range first 5 (where .Data.Pages "Section" "blog") }}
          <li class="posts-item l-partition">
            <h2 class="posts-item-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <div class="metas l-partition-sub">
              <time datetime="{{ .Date.Format "2006-01-02" }}" class="metas-item">{{ .Date.Format "2006.01.02" }}</time>
              <span class="metas-item">{{ .Params.tags }}</span>
            </div>
            <p class="posts-item-description">{{ .Description }}</p>
          </li>
        {{ end }}
      </ul>
      <div class="posts-more l-partition">
        <div class="posts-more-item">
          <a href="/blog" class="posts-more-item-link">More Articles
            <i class="icon ico-arrow-next"></i>
          </a>
        </div>
      </div>

      <h1 class="heading">Work</h1>
      <ul class="l-grid posts">
        {{ range first 3 (where .Data.Pages "Section" "work") }}
          <li class="posts-item">
            <a href="{{ .RelPermalink }}" class="posts-item-image">
              <img src="{{ .Params.thumb }}" alt="{{ .Description }}">
            </a>
            <h2 class="posts-item-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <div class="metas">
              <time datetime="{{ .Date.Format "2006-01-02" }}" class="metas-item">{{ .Date.Format "2006.01.02" }}</time>
              <span class="metas-item">{{ .Params.categories }}</span>
              <span class="metas-item">{{ .Params.tags }}</span>
            </div>
          </li>
        {{ end }}
      </ul>
      <div class="posts-more l-partition">
        <div class="posts-more-item">
          <a href="/work" class="posts-more-item-link">More Works
            <i class="icon ico-arrow-next"></i>
          </a>
        </div>
      </div>

    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
