@mixin font-serif {
  font-family: "Lora", "リュウミン R-KL", "Ryumin Regular KL", "游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN" , "Hiragino Mincho ProN", serif;
}

@mixin font-sans-serif {
  font-family: "Fira Sans", Helvetica, sans-serif;
  font-weight: 300;
}

@mixin font-script {
  font-family: "Dancing Script", Times, serif;
}

@mixin font-mono {
  font-family: courier, monospace;
}
